* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.spin {
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    filter:grayscale(1);
    transform: perspective(1300px) rotateY(0deg);
    -webkit-transform: perspective(1300px) rotateY(0deg);
    -moz-transform: perspective(1300px) rotateY(0deg);
    -ms-transform: perspective(1300px) rotateY(0deg);
    -o-transform: perspective(1300px) rotateY(0deg);
    -webkit-filter:grayscale(1);
}
  100% {
    filter:grayscale(1);
    transform: perspective(1300px) rotateY(-360deg);
    -webkit-transform: perspective(1300px) rotateY(-360deg);
    -moz-transform: perspective(1300px) rotateY(-360deg);
    -ms-transform: perspective(1300px) rotateY(-360deg);
    -o-transform: perspective(1300px) rotateY(-360deg);
    -webkit-filter:grayscale(1);
}
  }
@keyframes rotat {
to {
  transform: perspective(1300px) rotateY(-360deg);
  -webkit-transform: perspective(1300px) rotateY(-360deg);
  -moz-transform: perspective(1300px) rotateY(-360deg);
  -ms-transform: perspective(1300px) rotateY(-360deg);
  -o-transform: perspective(1300px) rotateY(-360deg);
  }
}
.link div:hover {
  animation: link 2s linear infinite;
  -webkit-animation: link 2s linear infinite;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0,#4cd137,blue);
}

  
